<%= form_tag delete_multiple_tasks_path, method: :delete do %>

<!DOCTYPE html>
  <html lang="en">
  <head>
    <style>
      a.btn:not(.btn-info) {
        display: none;
      }

      .table, th, td:hover .btn {
        display: inline-block;
      }
    </style>
  </head>

  <div class="col-md-25 col-md-offset-1">
    <% if user_signed_in? %>
      <span>Hello, <%= current_user.email %></span>
      <%= link_to 'Log out', destroy_user_session_path, class: "btn btn-danger", :method => :delete %>
    <% else %>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
      <%= link_to 'Log in', new_user_session_path %>
      or <%= link_to 'Registration', new_user_registration_path %>
    <% end %>


    <div class='container page-content' id='page-content'>
      <div id="flash-messages">
        <div class="alert alert-success alert-noajax">Signed in successfully.</div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <table class="table table-striped">

      <tr>
        Sort by
        <%= link_to 'Created Date', tasks_path(sort: 'created_at'), class: "btn btn-info" %>
        <br>
        <br>
        Sort by
        <%= link_to 'Title', tasks_path(sort: 'title'), class: "btn btn-info" %>


        <h2 class='page-heading'>Home</h2>
        <ul class='nav nav-tabs tasks-tabs' role='tablist'>
          <li class='active' role='presentation'>
            <a data-toggle='tab' href='#active-tasks'>Active tasks</a>
          </li>
          <li role='presentation'>
            <a data-toggle='tab' href='#completed-tasks'>Completed tasks</a>
          </li>
        </ul>

      </tr>
      <tr>
        <td class="col-md-1">ToDo</td>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <% unless task.done %>
            <% if task.user_id == current_user.id %>
              <div class="row">
                <td><input type="checkbox" name="cb_tasks[]" id="tasks_" value="4" class="batch-del batch-del-checkbox" /></td>
                <td><%= check_box_tag "cb_tasks[]", task.id %>
                  <%= link_to task.title, task, class: "btn btn-info" %></td>
                <td><%= link_to 'Edit', edit_task_path(task.id), class: "btn btn-primary" %>
                  <%= link_to 'Mark as done', change_to_done_path(task.id), class: "btn btn-warning" %>
                  <%= link_to 'Destroy', task, class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <% end %>
          <% end %>
          </div>
        </tr>
      <% end %>
    </table>

    <br>

    <%= submit_tag "Delete selected", class: "btn btn-primary" %>
    <button name="button" type="button" data-checkall="true" class="btn btn-default batch-del batch-del-checkall">Check All</button>
    <button name="button" type="button" data-checkall="false" class="btn btn-default batch-del batch-del-checkall">Uncheck all</button>
    <br>
    <br>

    <%= link_to 'New Task', new_task_path, class: "btn btn-info" %>

<% end %>



</div>


